:root{
  --primary :#000000 ;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box  ;
  font-family: system-ui, sans-serif ;
}

html {
  font-family: system-ui, sans-serif;
  background-color: #ffffff;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
}

header {
  background-color: #ffe436;
}
nav img {
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1rem 1rem;
}
.leftnav {
  margin-left: 2rem;
}
.leftnav2 {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
body{
  display: flex  ;
  flex-direction: column ;
  height: 100vh;
}
.contenu{
  flex: 1 0 auto;
}
h1{
  text-align: center;
  margin-top: 20px;
}
a{
  color: #000000;
}
/* Navbar Classique*/

nav{
  margin-top: -3px;
  position: relative;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid var(--primary) 1px;
}
.menu{
  display: none;
  flex: 1 1 0%;
  justify-content:end;
  align-items: center;
  margin: 0rem 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  }
  .menu a{
  font-weight: 600;
  text-decoration: none;
  color: black;
  padding:0.5rem;
  margin: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  }
  .menu a:hover{
      color: #ee9b5f;
  }
  .menu ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  }
  a{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-size: large;
      z-index: 97;
  }
  .hamburger{
      display: block;
      padding: 0.75rem 1.5rem;
      position: relative;
      z-index: 1;
      user-select: none;
      appearance: none;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
  }
  /*Hamburger*/
  .hamburger span{
      display: block;
      width:33px ;
      height: 4px;
      background-color: var(--primary);
      margin-bottom: 5px;
      position: relative;
      border-radius: 1px;
      z-index: 1;
      transform-origin: 0 0;
      transition: 0.1s;
  }
  .hamburger.is-active span:nth-child(1){
      transform: translate(0px, -2px) rotate(45deg);
  }
  
  .hamburger.is-active span:nth-child(2){
      opacity: 0; 
  }
  
  .hamburger.is-active span:nth-child(3){
      transform: translate(-3px,3px) rotate(-45deg);
  }
  @media (min-width: 600px) {
      .hamburger, .mobile-menu{
          display: none;
      }
      .menu{
          display: flex;
      }
  }
/* Menu Mobile*/
.mobile-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  opacity: 0;
  background-color: #ffffff;
  transform: translateY(-100%);
  transition: 0.3s;
  padding-top: 3.4rem;
}

.mobile-menu.is-open{
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu a  {
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.55rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary);
}
.mobile-menu ul{
list-style: none;
display: flex;
justify-content: center;
flex-direction: column;
}
.box{
  display: flex;
  flex-direction: row;
}
.box a{
  border-left: solid #ee9b5f 3px;
}
.container {
  display: flex;
}
#image {
  margin-top: 3rem;
  margin-left: 5rem;
  width: 30rem;
  height: 22rem;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}
#txt {
  flex: 1;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 1.25rem;
  width: 40%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#image2 {
  margin-top: 3rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
  height: 22rem;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  border-radius: 1rem 1rem;
}
#txt2 {
  flex: 1;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 1.25rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#txt2 button {
  font-size: 16px;
  color:#020202;
  background-color: white;
  border: 2px solid #000000;
  cursor:pointer;
  border-radius: 20px;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
  padding: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
#txt2 button:hover{
  color: #ee9b5f;
  border-color: #ee9b5f;
}

/* Contact */
.boutoncontact {
  font-size: 16px;
  color:#020202;
  background-color: white;
  border: 2px solid #000000;
  cursor:pointer;
  border-radius: 20px;
  margin-top: 1.5rem;
  padding: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.boutoncontact:hover {
  color: #ee9b5f;
  border-color: #ee9b5f;
}
.contact {
  margin: 50px;
  display: flex;
  flex-direction: row;
  background: #fff;
}
.contact-img {
  width: 50%;
  display: flex;
}
.contact-img img {
  height: 400px;
  justify-content: center;
  align-items: center;
}
.form {
  padding: 1rem;
  width: 50%;
  margin: auto;
}
.form input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  padding: 1rem 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 1rem;
  font-weight: 500;
}
.form textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
  padding: 1rem 0;
  resize: none;
}
.form h2 {
  font-size: 2.7rem;
  font-weight: 500;
  color: #444;
  margin-bottom: 1rem;
  margin-top: -1.2rem;
}

.equipe {
  display: flex;
  flex-direction: row;
  margin: 3rem;
  padding-bottom: 3rem;
}
.carte {
  margin-left: 2rem;
  margin-right: 2rem;
  height: 20rem;
  width: 15rem;
  text-align: center;
  background-color: #f3f197;
  border-radius: 0.625rem;
}
.pp {
  margin-top: 0.3rem;
  background-color: green;
  height: 8rem;
}
.nom {
  background-color: #ee9b5f;
  color: black;
  margin: 1 0rem;
}
.description{
  background-color: #f1f0ad;
  border-radius: 3%;
  height: 8.75rem;
  margin: 0.3rem;
}
@media screen and (max-width:1300px) {
  .contact-img img{
      height: 350px;
      margin-top: auto;
      margin-bottom: auto;
  }
  .equipe{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .container{
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  #image{
      width: 26rem;
      height: 18rem;
  }
  #image2{
      height:18rem
  }
}
@media screen and (max-width:1100px) {
  .contact-img img{
      height: 300px;
      margin-top: auto;
      margin-bottom: auto;
  }
  .container{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  #txt{
      margin-top: 2rem;
      width: 100%;
  }
  #txt2{
      width:100%
  }
  #image{
      margin: 0rem;
      margin-top: 2rem;
  }
  #image2{
      margin: 0rem;
      margin-top: 2rem;
  }
}
@media screen and (max-width:950px) {
  .contact-img img{
      height: 250px;
      margin-top: auto;
      margin-bottom: auto;
  }
}

table {
    border-collapse: collapse;
font-family: Arial, Helvetica, sans-serif;
display: non;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #1d121f;
    padding: 15px;
    text-align: left;
  }

  th {
    background-color: #fff3a3;
  }

  tr {
    background-color: #fcfaee;
  }

  tr:nth-child(even) {
    background-color: #fcf8e2;
  }

  tr:hover {
    background-color: #e5e5e5;
  }








.texte1{
    text-align: center;
    padding-top: 20px;
}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

.searchTerm {
  width: 100%;
  border: 2px solid #000000;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  border-radius: 20px;

}

.searchTerm:focus{
  color: #000000;
}
.searchTerm:hover{
    background-color: #fff3a3;
  }

.wrap{
  width: 20%;
}
.wrap1{
    width: 20%;
    margin: 15px;
  }
 
 
  .test1{
    display: flex;
    justify-content: center;
    align-items: center;
  }


@media screen and (max-width: 715px) {
    .test1{
        flex-direction: column;
    }

}

  .dropdown {
    position: relative;
    display: inline-block;

  }
 
  .dropdown button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: solid 2px ;
    cursor: pointer;
    border-radius: 20px;
  }
  .dropdown button:hover {
    background-color: #fff3a3;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;


  }

  .dropdown-content label {
    display: block;
    margin-bottom: 8px;
  }

  .dropdown-content input[type="checkbox"] {
    margin-right: 8px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #fff3a3;
  }

  *, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.emoji-pasta {
    overflow: hidden;
}

.emoji-container {
    position: absoute;
    margin: 15px;
    margin-top: 3px;
    top: 40%;
    left: 50%;
}
.btn-confettis {
    width: 50px;
    height: 50px;
    z-index: 99;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 0 rgb(160,160,160);
    font-size: 18px;
}
.btn-confettis:active {
    box-shadow: 0 0px 0 rgb(160,160,160);
}
.slot {
    z-index: 1;
    perspective: 1000px;
}
.slot div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    user-select: none;
}
